@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 50px;
}

.contenedor {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.box1 {
    position: absolute;
    border: solid black;
    width: 400px;
    text-align: center;
}