@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

.contenedor {
    display: inline-block;
    border: solid black;
    max-width: 960px;
    margin: 0 auto;
}